<script src="js/custom/schedule.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">
  
    <div id='calendar' class="ml-0"></div>

</div>


<!-- /.container-fluid -->

<div class="modal fade" id="modalSchedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" scheduleId>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">일정</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return false">
          <div class="form-group row">
            <label for="" class="col-2 col-form-label">제목</label>
            <div class="col-10">
              <input type="text" class="form-control" id="inputTitle" placeholder="">
            </div>
          </div>
          <!--
          <div class="form-group row">
            <div class="col-2">종일</div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkboxAllDay">
                <label class="form-check-label"></label>
              </div>
            </div>
          </div>
          -->
          <!--하루종일-->
          <!--
          <div class="" id="divAllDay" style="display: none;">
            <div class="form-group row">
              <label class="col-form-label col-2">시작</label>
              <div class="col-10">
                <input type="date" class="form-control" id="inputAllDayDateStart">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2">종료</label>
              <div class="col-10">
                <input type="date" class="form-control" id="inputAllDayDateEnd">
              </div>
            </div>
          </div>
          -->
          <!--시간-->
          <div class="" id="divTime">
            <div class="form-group row">
              <label class="col-form-label col-2">시작</label>
              <div class="col-5">
                <input type="date" class="form-control" id="inputDate">
              </div>
              <div class="col-5">
                <input type="text" class="form-control text-center" id="inputTimeStart">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-2">종료</label>
              <div class="col-5"></div>
              <div class="col-5">
                <input type="text" class="form-control text-center" id="inputTimeEnd">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnDelSchedule">삭제</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <button type="button" id="btnSaveSchedule" class="btn btn-primary">저장</button>
      </div>
    </div>
  </div>
</div>



<style>

#calendar {
    max-width: 1000px;
    margin: 0 auto;
  }
</style>
