
<script src="js/custom/schedule.js"></script>

<!-- Begin Page Content -->
 <div class="container-fluid">
  
    <div id='calendar'></div>

</div>

<!-- /.container-fluid -->


<style>

#calendar {
    max-width: 1100px;
    margin: 0 auto;
  }
</style>
